.container-tariff {
  display: flex;
  flex-direction: column;
}

.tariff {
  display: flex;
  margin-left: 150px;
  margin-bottom: 10px;
  font-family: "Noto Sans HK", sans-serif;
  color: #2c5cea;
}

.previous {
  color: #2c5cea;
  font-family: "Noto Sans HK", sans-serif;
  margin-top: 3px;
  padding-top: 10px;
  border: none;
  background-color: white;
}

.previous:hover {
  font-size: 20px;
}
