@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;500&display=swap");
.select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;

  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 50px;
  margin: 20px;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 10px;
}

.radio-toolbar label:hover {
  background-color: #2c5cea;
  color: white;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
